<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">
</head>

<body>
  <p>Riigi Infosüsteemi Amet</p>
  <h1>Mittefunktsionaalsed nõuded</h1>
  {% for kategooria in site.data.Nouded %}
    {% capture abikn %}{% increment kn %}{% endcapture %}
    {% assign nn = 0 %}
    <h2>{{ kategooria.nimetus }}</h2>>
    {% for noue in kategooria.nouded %}
      <p> {{ abikn }}.{{ noue.nr }} 
        {{ noue.son | markdownify }} 
        {{ noue.sel | markdownify }}
      </p>
    {% endfor %}
  {% endfor %}
</body>

</html>