<p class='loosung silditekst'>MFN 4.0 - rituaalsest pdf-st arenduse cheat sheet-ks, elavaks dokumendiks, mille poole tihti pöördutakse</p>
<div class='pais'>
  <div class='float-left'>
    <a href='https://www.ria.ee/ee/index.html'>Riigi Infosüsteemi Amet</a>
  </div>
  <div class='float-right'>
    {% unless page.nouded %}
      <a href='{{ site.baseurl }}/'>Nõuded</a> · 
    {% endunless %}
    <a href='{{ site.baseurl }}/Muutelugu' target='_new'>Muutelugu</a> · 
    <a href='{{ site.baseurl }}/TeeEttepanek' target='_new'>Tee ettepanek</a> 
  </div> 
</div>