<div class='pais'
  style='display: flex;'>
  <div style='width: 20rem;'>
    <a href='https://www.ria.ee/ee/index.html' target='_new'>Riigi Infosüsteemi Amet</a>
  </div>
  <div>
    {% unless page.nouded %}
      <a href='{{ site.baseurl }}/'>Nõuded</a> · 
    {% endunless %}
    <a href='{{ site.baseurl }}/Puhas' target='_new'>Puhastekst</a> · 
    <a href='{{ site.baseurl }}/Muutelugu' target='_new'>Muutelugu</a> · <a href='{{ site.baseurl }}/TeeEttepanek' target='_new'>Probleem?</a> 
  </div> 
</div>
{% if page.nouded %}
  <img src='img/LOVID.png' style='width: 80px;'>
{% endif %}
