<!-- {% increment kn %} -->
<table>
  <tr>
      <td>staatus</td>
      <td>kategooria</td>
      <td>nr</td>
      <td>nõude sõnastus</td>
      <td>nõude selgitus</td>
  <tr>
  {% capture noudeloendur %}{% increment nl %}{% endcapture %}
  {% for kategooria in site.data.Nouded %}
    {% capture abikn %}{% increment kn %}{% endcapture %}
    {% assign nn = 0 %}
    {% for noue in kategooria.nouded %}
      {% capture noudeloendur %}{% increment nl %}{% endcapture %}
      <tr>
      {% if noue.sta == 'UUS' %} 
        <td><span class='silt'>{{ noue.sta }}</span></td>
      {% elsif noue.sta == 'NB!' %}
        <td><span class='silt tahtis'>{{ noue.sta }}</span></td>
      {% else %}
        <td></td>  
      {% endif %}
      <td> {{ kategooria.nimetus }}</td>
      <td> {{ abikn }}.{{ noue.nr }} </td>
      <td>
        <a id='{{ abikn }}.{{ noue.nr }}'></a>{{ noue.son | markdownify }}
        {% if noue.issues %}
         * Millist probleemi see lahendab? 
          {% for issue in noue.issues %}
            <a href='{{ issue.link }}' target='_new'>{{ issue.nimetus }}</a> 
          {% endfor %}
        {% endif %}
      </td>
      <td> {{ noue.sel | markdownify }} </td>
    </tr>
    {% endfor %}
  {% endfor %}
</table>

<p>{{ noudeloendur }} nõuet.</p>
