<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">
    <style>
      .rida p {
        display: inline;
      }
    </style>
  </head>

  <body>
    <div>
      <p>
        Riigi Infosüsteemi Amet. Mittefunktsionaalsed nõuded. v 4.0
      </p>
      {% for kategooria in site.data.Nouded %} {% capture abikn %}{% increment kn %}{% endcapture %} {% assign
      nn = 0 %}
      <p>{{ kategooria.nimetus }}</p>
      {% for noue in kategooria.nouded %}
      <div class='rida'>
        {{ abikn }}.{{ noue.nr }}. {{ noue.son | markdownify }}{{ noue.sel | markdownify }}
      </div>
      {% endfor %} {% endfor %}
    </div>
  </body>

</html>