<!DOCTYPE html>
<html>

<!-- Navigeerimispäisega leht. -->

<head>
  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    crossorigin="anonymous">
  <!-- Tether on vaja tooltip-de jaoks -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">

</head>

<body>
  {% include Pais.html %}
  
  <div id='Tekst'>      
    {{ content }}

    {% if page.nouded %}
      <h2>Kiirelt leitav</h2>
      {% include Kiirelt.html %}
      {% include Tabel.html %}
    {% endif %}
    
  </div>
  
  {% include Jalus.html %}
</body>

</html>